/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 63%; }
  @media screen and (min-width: 112.5em) {
    html {
      font-size: 81%; } }
  @media screen and (max-width: 80em) {
    html {
      font-size: 56%; } }
  @media screen and (max-width: 60em) {
    html {
      font-size: 44%; } }
  @media screen and (max-width: 37.5em) {
    html {
      font-size: 25%; } }

body {
  background-color: #fff;
  padding: 3rem; }
  @media screen and (max-width: 37.5em) {
    body {
      padding: 0; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem); }
  80% {
    transform: translate(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(10rem); }
  80% {
    transform: translate(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(8rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-weight: 400;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    animation: moveInLeft 4s ease-out; }
  .heading-primary--sub {
    display: block;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 2.4rem;
    animation: moveInRight 4s ease-out;
    margin-bottom: 8rem; }

.heading-secondary {
  font-size: 3.6rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #7ed56f, #13d494);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewX(15deg) skewY(2deg); }
  @media screen and (max-width: 80em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 3.2rem; } }

.heading-tertiary {
  font-size: 1.7rem;
  text-transform: uppercase; }
  @media screen and (max-width: 80em) {
    .heading-tertiary {
      font-size: 1.5rem; } }
  @media screen and (max-width: 37.5em) {
    .heading-tertiary {
      font-size: 2.7rem; } }

.paragraph {
  font-size: 1.6rem; }
  @media screen and (max-width: 37.5em) {
    .paragraph {
      font-size: 2.5rem; } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom--xsmall {
  margin-bottom: 0.5rem !important; }

.u-margin-bottom--small {
  margin-bottom: 1.3rem !important; }

.u-margin-bottom--medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom--big {
  margin-bottom: 8rem !important; }

.u-margin-top--large {
  margin-top: 15rem !important; }

.u-margin-top--medium {
  margin-top: 8rem !important; }

.u-margin-top--small {
  margin-top: 4rem !important; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  padding: 1.4rem 4rem;
  border-radius: 10rem;
  font-size: 1.6rem;
  outline: none;
  border: none;
  display: inline-block;
  position: relative;
  transition: all 0.3s ease; }
  @media screen and (max-width: 37.5em) {
    .btn, .btn:link, .btn:visited {
      font-size: 2rem; } }

.btn:hover {
  transform: translateY(-0.3rem); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-image: linear-gradient(to right, #7ed56f, #13d494);
  color: #fff; }
  .btn--green::after {
    background-image: linear-gradient(to right, #7ed56f, #13d494); }

.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.2s ease; }

.btn--white:hover::after {
  opacity: 0;
  transform: scale(1.2) scale(1.3); }

.btn--green:hover::after {
  opacity: 0;
  transform: scale(1.2) scale(1.3); }

.btn--animated {
  animation: moveInDown 2s ease 0.7s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  color: #7ed56f;
  font-size: 1.4rem;
  border-bottom: 1px solid #7ed56f;
  padding: .5rem;
  transition: all .2s;
  display: inline-block; }
  @media screen and (max-width: 37.5em) {
    .btn-text:link, .btn-text:visited {
      font-size: 2.5rem; } }

.btn-text:hover {
  background: linear-gradient(to right, #7ed56f, #13d494);
  color: #fff;
  transform: translateY(-0.3rem); }

.btn-text:active {
  transform: translateY(0); }

.composition {
  position: relative;
  z-index: 10; }
  .composition__photo {
    width: 55%;
    position: absolute;
    z-index: 10;
    outline-offset: 2rem;
    transition: all .2s; }
    @media screen and (max-width: 80em) {
      .composition__photo {
        width: 62%; } }
    @media screen and (max-width: 37.5em) {
      .composition__photo {
        width: 35%; } }
    .composition__photo--p1 {
      top: -2rem;
      left: 2rem; }
      @media screen and (max-width: 80em) {
        .composition__photo--p1 {
          top: .5rem; } }
      @media screen and (max-width: 37.5em) {
        .composition__photo--p1 {
          top: 6rem;
          left: 2rem; } }
    .composition__photo--p2 {
      top: 2rem;
      right: 0; }
      @media screen and (max-width: 80em) {
        .composition__photo--p2 {
          top: 7rem; } }
      @media screen and (max-width: 37.5em) {
        .composition__photo--p2 {
          top: 6rem;
          right: 2rem; } }
    .composition__photo--p3 {
      top: 10rem;
      left: 7rem; }
      @media screen and (max-width: 80em) {
        .composition__photo--p3 {
          top: 14rem; } }
      @media screen and (max-width: 37.5em) {
        .composition__photo--p3 {
          top: 3rem;
          left: 22rem; } }
    .composition__photo:hover {
      outline: 1rem solid #55c57a;
      transform: scaleX(1.05);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  font-size: 1.6rem;
  padding: 3.5rem 1.5rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  transition: transform .3s; }
  @media screen and (max-width: 80em) {
    .feature-box {
      width: 100%;
      padding-inline: .4rem;
      font-size: 1.4rem; } }
  @media screen and (max-width: 37.5em) {
    .feature-box {
      width: 85%;
      margin: 0 auto;
      font-size: 2.8rem;
      padding: 8rem 1.6rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    background: linear-gradient(to right, #7ed56f, #13d494);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
    @media screen and (max-width: 37.5em) {
      .feature-box__icon {
        font-size: 10rem; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .feature-box:active {
    transform: translateY(0); }

.card {
  -webkit-perspective: 150rem;
  perspective: 150rem;
  position: relative;
  height: 50rem; }
  @media screen and (max-width: 37.5em) {
    .card {
      height: 88rem; } }
  .card__side {
    width: 100%;
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    overflow: hidden;
    backface-visibility: hidden; }
    @media screen and (max-width: 37.5em) {
      .card__side {
        width: 60%;
        transform: translate(18rem); } }
    .card__side-front {
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      color: black; }
      @media screen and (max-width: 37.5em) {
        .card__side-front {
          height: 63rem; } }
    .card__side-back {
      transform: rotateY(180deg); }
      @media screen and (max-width: 37.5em) {
        .card__side-back {
          transform: rotateY(0);
          border-radius: 0;
          top: 50rem;
          transform: translate(18rem);
          height: 32rem;
          -webkit-clip-path: polygon(0% 20%, 0% 100%, 100% 100%, 100% 0%);
          clip-path: polygon(0% 20%, 0% 100%, 100% 100%, 100% 10%); } }
      .card__side-back--1 {
        background-image: linear-gradient(to bottom right, #ffb900, #ff7730);
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side-back--2 {
        background-image: linear-gradient(to bottom right, #7ed56f, #13d494);
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side-back--3 {
        background-image: linear-gradient(to bottom right, #2998ff, #5643fa);
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .card:hover .card__side-front {
    transform: rotateY(-180deg); }
    @media screen and (max-width: 37.5em) {
      .card:hover .card__side-front {
        transform: rotateY(0);
        transform: translate(18rem); } }
  .card:hover .card__side-back {
    transform: rotateY(0); }
    @media screen and (max-width: 37.5em) {
      .card:hover .card__side-back {
        transform: translate(18rem); } }
  .card__picture {
    height: 23rem;
    background-size: cover;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 85%, 100% 0%);
    clip-path: polygon(0% 0%, 0% 100%, 100% 85%, 100% 0%); }
    @media screen and (max-width: 37.5em) {
      .card__picture {
        height: 28rem; } }
    .card__picture--1 {
      background-image: linear-gradient(to bottom right, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to bottom right, #7ed56f, #13d494), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to bottom right, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    text-align: right;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 65%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right, rgba(126, 213, 111, 0.85), rgba(19, 212, 148, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    color: #777;
    font-weight: 500;
    font-size: 1.5rem; }
    .card__details ul {
      width: 80%;
      list-style-type: none;
      text-align: center;
      margin: 2rem auto; }
      .card__details ul li {
        padding: 1rem 0; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
    color: #fff; }
  .card__price-only {
    font-size: 1.6rem; }
    @media screen and (max-width: 37.5em) {
      .card__price-only {
        margin-top: 1.5rem; } }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 2.5rem; }
    @media screen and (max-width: 37.5em) {
      .card__price-value {
        margin-bottom: 0; } }

.story {
  width: 75%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  box-shadow: 0 1rem 1.4rem rgba(0, 0, 0, 0.14);
  padding: 6rem;
  padding-left: 9rem;
  transform: skewX(-12deg);
  overflow: hidden; }
  @media screen and (max-width: 37.5em) {
    .story {
      width: 85%; } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    position: relative;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg); }
    .story__shape-img {
      height: 100%;
      transition: all .5s;
      transform: translateX(-4rem) scale(1.4); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 1.7rem;
    text-align: center;
    transition: all .5s;
    opacity: 0;
    backface-visibility: hidden;
    transform: translate(-50%, 15%); }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__shape-img {
    transform: translateX(-4rem) scale(1);
    filter: blur(5px) brightness(80%); }
  .story__text {
    transform: skewX(12deg); }
    .story__text-p {
      font-size: 1.4rem; }

.bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .15; }
  .bg__video-content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 2.5rem; }

@media screen and (max-width: 37.5em) {
  .form__group:not(:last-child) {
    margin-bottom: 1.5rem; } }

.form__input {
  width: 100%;
  font-family: inherit;
  background-color: #fff;
  padding: 1rem 1.5rem;
  display: block;
  outline: none;
  border: none;
  border-bottom: 2px solid transparent;
  transition: all .2s; }
  @media screen and (max-width: 37.5em) {
    .form__input {
      font-size: 3rem; } }
  .form__input:focus {
    border-bottom: 2px solid #ff7730;
    transition: all .5s; }
  .form__input:valid {
    border-bottom: 2px solid #55c57a;
    transition: all .3s; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: .3rem;
  margin-left: 1.6rem;
  display: block;
  transition: all .2s; }
  @media screen and (max-width: 37.5em) {
    .form__label {
      font-size: 2.6rem; } }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2.7rem); }

.form__radio-group {
  display: inline-block;
  position: relative; }
  @media screen and (max-width: 37.5em) {
    .form__radio-group {
      margin-bottom: 5.5rem; }
      .form__radio-group:not(:last-child) {
        margin-bottom: 2.5rem; } }
  .form__radio-group:not(:first-child) {
    margin-left: 1rem; }
    @media screen and (max-width: 37.5em) {
      .form__radio-group:not(:first-child) {
        margin-left: 0; } }
  @media screen and (max-width: 37.5em) {
    .form__radio-group {
      display: block; } }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.5rem;
  padding-left: 4rem; }
  @media screen and (max-width: 37.5em) {
    .form__radio-label {
      font-size: 2.8rem;
      padding-left: 6rem; } }

.form__radio-button {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  border: 5px solid #55c57a;
  border-radius: 50%;
  position: absolute;
  top: -.3rem;
  left: 0; }
  @media screen and (max-width: 37.5em) {
    .form__radio-button {
      top: -.2rem;
      width: 5rem;
      height: 5rem;
      border: 3px solid #55c57a; } }
  .form__radio-button::after {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    background-color: #55c57a;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: .3rem;
    left: .3rem;
    opacity: 0; }
    @media screen and (max-width: 37.5em) {
      .form__radio-button::after {
        top: 1rem;
        left: 1rem; } }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.popup {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup__content {
    width: 75%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    border-radius: 3px;
    display: table;
    transition: all .3s .3s; }
    @media screen and (max-width: 37.5em) {
      .popup__content {
        width: 90%; } }
  .popup__left {
    width: 33.333%;
    display: table-cell; }
  .popup__right {
    width: 66.666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
    @media screen and (max-width: 37.5em) {
      .popup__right {
        padding: 0 3rem; } }
  .popup__img {
    display: block;
    width: 100%; }
    @media screen and (max-width: 37.5em) {
      .popup__img {
        height: 33rem; } }
  .popup__text {
    column-count: 2;
    column-gap: 4rem;
    column-rule: 2px solid rgba(0, 0, 0, 0.1);
    hyphens: auto; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    text-decoration: none;
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 2.5rem;
    line-height: 1; }
    @media screen and (max-width: 37.5em) {
      .popup__close:link, .popup__close:visited {
        font-size: 4rem; } }
  .popup__close:hover {
    color: #55c57a; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  width: 6rem;
  height: 6rem;
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  width: 5rem;
  height: 5rem;
  background-image: radial-gradient(#7ed56f, #13d494);
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  width: 0;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  list-style-type: none;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%); }

.navigation__item {
  text-transform: uppercase;
  margin: 1rem;
  text-align: center;
  font-size: 1.9rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  background-image: linear-gradient(120deg, transparent 50%, #fff 50%);
  padding: 1rem 1.5rem;
  transition: all .5s;
  background-size: 225%;
  background-position: 14%; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #000;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1; }

.navigation__icon {
  position: relative;
  margin-top: 2.9rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: .3rem;
    background-color: #55c57a;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(-45deg);
  transition: all .5s; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(45deg);
  transition: all .5s; }

.header {
  background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(19, 212, 148, 0.8)), url(../img/hero-small.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  position: relative;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 75%, 100% 0%);
  clip-path: polygon(0% 0%, 0% 100%, 100% 75%, 100% 0%); }
  @media screen and (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 90%, 100% 0%);
      clip-path: polygon(0% 0%, 0% 100%, 100% 90%, 100% 0%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    animation: moveInRight 4s; }
  .header__logo {
    width: 6.8rem; }
  .header__text-box {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    display: inline-block;
    transform: translate(-50%, -50%); }

.row {
  max-width: 114rem;
  margin-inline: auto; }
  @media screen and (max-width: 80em) {
    .row {
      padding: 3rem 4rem; } }
  @media screen and (max-width: 37.5em) {
    .row {
      max-width: 100%;
      padding: 3rem; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media screen and (max-width: 37.5em) {
      .row:not(:last-child) {
        margin-bottom: 0; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^=col-] {
    float: left; }
    .row [class^=col-]:not(:last-child) {
      margin-right: 6rem; }
      @media screen and (max-width: 80em) {
        .row [class^=col-]:not(:last-child) {
          margin-right: 5rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
    @media screen and (max-width: 37.5em) {
      .row .col-1-of-2 {
        width: 100%; } }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
    @media screen and (max-width: 37.5em) {
      .row .col-1-of-3 {
        width: 100%;
        margin-bottom: 6rem; } }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
    @media screen and (max-width: 37.5em) {
      .row .col-1-of-4 {
        width: 100%;
        margin-bottom: 6rem; } }
  .row .col-2-of-4 {
    width: calc(  2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.footer {
  background-color: #242424;
  padding: 10rem 0;
  color: #777;
  font-size: 1.4rem; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 5rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border: none;
    border-top: 2px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media screen and (max-width: 37.5em) {
      .footer__navigation {
        width: 100%;
        text-align: center;
        padding-bottom: 1.5rem; } }
  .footer__list {
    list-style-type: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 2rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #eee;
    display: inline-block;
    text-transform: uppercase;
    transition: all .3s; }
  .footer__link:hover, .footer__link:active {
    background-color: #242424;
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: rotate(5deg) scale(1.1); }
  .footer__copyright {
    border: none;
    border-top: 2px solid #777;
    padding-top: 2rem;
    float: right; }
  .footer__copyright--2 {
    width: 60%;
    text-align: center;
    margin: 0 auto; }

.about-section {
  margin-top: -25vh;
  padding: 30rem 0;
  background-color: #f7f7f7; }
  @media screen and (max-width: 80em) {
    .about-section {
      padding: 30rem 5rem; } }
  @media screen and (max-width: 37.5em) {
    .about-section {
      margin-top: -15vh;
      padding: 35rem 10rem; } }

.features-section {
  background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(19, 212, 148, 0.8)), url(../img/hero-small.jpg);
  background-size: cover;
  padding: 15rem 0;
  margin-top: -13rem;
  transform: skewY(-7deg); }
  @media screen and (max-width: 37.5em) {
    .features-section {
      margin-top: -6rem; } }
  .features-section > * {
    transform: skewY(7deg); }

.story-section {
  padding: 15rem 0;
  position: relative; }

.booking-section {
  padding: 15rem 0;
  background-image: linear-gradient(to bottom right, #7ed56f, #13d494); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(255, 255, 255, 0.2);
  height: 48rem; }
  @media screen and (max-width: 37.5em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 100%, transparent 0%), url(../img/nat-10.jpg);
      width: 80%;
      margin: 0 auto;
      height: 70rem;
      padding: 0 2rem;
      padding-bottom: 8rem; } }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media screen and (max-width: 37.5em) {
      .book__form {
        width: 100%; } }
