@mixin clearfix{
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}


@mixin mediaQueries ($breakpoint) {
    @if $breakpoint == smallphone {
        @media screen and (max-width: 37.5em ) { @content }; // 600px
    }
    @if $breakpoint == mediumphone {
        @media screen and (max-width: 56.26em ) { @content }; // 900px
    }
    @if $breakpoint == tabletphone {
        @media screen and (max-width: 75em ) { @content }; // 1200px
    }
    @if $breakpoint == bigscreen {
        @media screen and (min-width: 112.5em ) { @content }; // 1800px
    }
}