//===================================//
//    All variables goes in here     //
//===================================//


// PRIMARY COLORS
$primary-color: #55c57a;
$primary-color-light: #7ed56f;
$primary-color-dark:#28b485;

//FREQUENTLY USED COLORS.
$color-dark-gray:#777;
$color-white:#fff;
$color-black: #000;