.footer {
    background-color: $color-dark-gray-1;
    padding: 10rem 0;
    color: $color-dark-gray;
    font-size: 1.4rem;

    &__logo-box {
        text-align: center;
        margin-bottom: 5rem;
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__navigation {
        border: none;
        border-top: 2px solid $color-dark-gray;
        padding-top: 2rem;
        display: inline-block;
        

        @include mediaQueries(smallphone) {
            width: 100%;
            text-align: center;
            padding-bottom: 1.5rem;
        }
    }

    &__list {
        list-style-type: none;
    }

    &__item {
        display: inline-block;
        
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            color: $color-light-gray;
            display: inline-block;
            text-transform: uppercase;
            transition: all .3s;
        }

        &:hover,
        &:active {
            background-color: $color-dark-gray-1;
            color: $primary-color;
            box-shadow: 0 1rem 2rem rgba($color-black, .2);
            transform: rotate(5deg) scale(1.1);
            
        }
    }

    &__copyright {
        border: none;
        border-top: 2px solid $color-dark-gray;
        padding-top: 2rem;
        float: right;
    }

    &__copyright--2 {
        width: 60%;
        text-align: center;
        margin: 0 auto;
        

    }
}