.composition {
    position: relative;
    z-index: 10;

    &__photo {
        width: 55%;
        position: absolute;
        z-index: 10;
        outline-offset: 2rem;
        transition: all .2s;

        @include mediaQueries(smallphone) {
            width: 35%;
        }
        

        &--p1 {
            top: -2rem;
            left: 2rem;

            @include mediaQueries(smallphone) {
                top: 6rem;
                left: 2rem;
            }
        }

        &--p2 {
            top: 2rem;
            right: 0;

            @include mediaQueries(smallphone) {
                top: 6rem;
                right: 2rem;
            }
        }
        &--p3 {
            top: 10rem;
            left: 7rem;

            @include mediaQueries(smallphone) {
                top: 3rem;
                left: 22rem;
            }
        }

        &:hover {
            outline: 1rem solid $primary-color;
            transform: scaleX(1.05);
            z-index: 20;
        }
        
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }

}