.feature-box {
    font-size: 1.6rem;
    padding: 3.5rem 1.5rem;
    text-align: center;
    background-color: rgba(255, 255,255, 0.8);
    box-shadow: 0 1rem 1rem rgba(0, 0,0, 0.2);
    transition: transform .3s;

    @include mediaQueries(tabletphone) {
        width: 100%;
        padding-inline: .4rem;
        font-size: 1.4rem;
    }

    @include mediaQueries(smallphone) {
        
        width: 85%;
        margin: 0 auto;
        font-size: 2.8rem;
        padding: 8rem 1.6rem;
    }

    &__icon{
        font-size: 6rem;
        margin-bottom: .5rem;
        background: linear-gradient(to right, $primary-color-light, $primary-color-dark);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;

        @include mediaQueries(smallphone) {
            font-size: 10rem;
        }
    }


    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }

    &:active {
        transform: translateY(0);
    }
}