.form {

    &__group:not(:last-child) {
        margin-bottom: 2.5rem;
    }

    &__input {
        width: 100%;
        font-family: inherit;
        background-color: #fff;
        padding: 1rem 1.5rem;
        display: block;
        outline: none;
        border: none;
        border-bottom: 2px solid transparent;
        transition: all .2s;
        
        @include mediaQueries(smallphone) {
            font-size: 3rem;
        }


        &:focus {
            border-bottom: 2px solid $secondary-color-dark;
            transition: all .5s;
        }

        &:valid {
            border-bottom: 2px solid $primary-color;
            transition: all .3s;
        }
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-top: .3rem;
        margin-left: 1.6rem;
        display: block;
        transition: all .2s;

        @include mediaQueries(smallphone) {
            font-size: 2.6rem;
        }
    }

    

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-2.7rem);
    }

    &__radio-group {
        display: inline-block;
        // border: 1px solid;
        position: relative;
        
        &:not(:first-child) {
            margin-left: 1rem;

            @include mediaQueries(smallphone) {
                margin-left: 0;
            }
        }

        @include mediaQueries(smallphone) {
            display: block;
        }
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        font-size: 1.5rem;
        padding-left: 4rem;

        @include mediaQueries(smallphone) {
            font-size: 2.5rem;
        }
        
    }

    &__radio-button {
        width: 3rem;
        height: 3rem;
        display: inline-block;
        border: 5px solid $primary-color;
        border-radius: 50%;
        position: absolute;
        top: -.3rem;
        left: 0;

        @include mediaQueries(smallphone) {
            top: .5rem;
        }

        &::after {
            content: "";
            width: 1.5rem;
            height: 1.5rem;
            background-color: $primary-color;
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            top: .3rem;
            left: .3rem;
            opacity: 0;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
}
// .form__group {
    
// }