.u-center-text {text-align: center !important;}

// Margin bottom utilities classes
.u-margin-bottom--xsmall {margin-bottom: 0.5rem !important;}
.u-margin-bottom--small {margin-bottom: 1.3rem !important;}
.u-margin-bottom--medium {margin-bottom: 4rem !important;}
.u-margin-bottom--big {margin-bottom: 8rem !important;}

// .u-width {width: 55%;}

.u-margin-top--large {margin-top: 15rem !important;}
.u-margin-top--medium {margin-top: 8rem !important;}
.u-margin-top--small {margin-top: 4rem !important;}